<!DOCTYPE html>  
<html lang="en">  
<head>
	<meta charset="utf-8">
	<title>Hello</title>

	<link rel="stylesheet" href="styles/sakura.css" type="text/css">
	<link rel="stylesheet" href="styles/basic.css" type="text/css">
	<script>
		function importFile() {
			document.getElementById('import').click()
		}
		function exportFile() {
			document.getElementById('export').click()
		}
		function selectFile(event) {
			alert(event.target.files[0].path);
			/* TODO: stuff*/
		}
		function selectFolder(event) {
			alert(event.target.files[0].path);
			/* TODO: stuff*/
		}
		
		
		function clickElement(element) {
			element.style.backgroundColor = "red";
		}
		function clickGroupElement(element) {
			element.style.backgroundColor = "green";
		}
	</script>

</head>
	<body>
		<h1>Your servers</h1>
		<a href="/new">Add new one!</a>

		<button onclick="importFile()">Import</button>
		<input id="import" onchange="selectFile(event);" type="file" style="display: none" />
		<button onclick="exportFile()">Export</button>
		<input id="export" onchange="selectFolder(event);" type="file" style="display: none" webkitdirectory />

		<table id="tree">
			<thead><td>Name</td><td>Data</td></thead>
			<tbody>
				<%- tableTree %>
			</tbody>
		</table>
	</body>
</html>  