<!DOCTYPE html>  
<html lang="en">  
<head>
	<meta charset="utf-8">
	<title>Hello</title>

	<link rel="stylesheet" href="styles/sakura.css" type="text/css">
	<link rel="stylesheet" href="styles/basic.css" type="text/css">
	<script>
		function clickElement(element) {
			element.style.backgroundColor = "red";
		}
		function clickGroupElement(element) {
			element.style.backgroundColor = "green";
		}
	</script>

</head>
	<body>
		<h1>Your servers</h1>
		<a href="/control">Add new one!</a>

		<button id="export">Export</button>
		<button id="import">Import</button>

		<table id="tree">
			<thead><td>Name</td><td>Data</td></thead>
			<tbody>
				<%- tableTree %>
			</tbody>
		</table>
	</body>
</html>  