<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Hello</title>

    <link rel="stylesheet" href="styles/sakura.css" type="text/css">
    <link rel="stylesheet" href="styles/basic.css" type="text/css">

  </head>
  <body>
    <h1>Hello World!</h1>
    <table id="tree">
        <thead><td>Name</td><td>Data</td></thead>
        <tbody>
            <%- tableTree %>
        </tbody>
    </table>
  </body>
</html>  